.demo-layout-transparent {
    background-color: black;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
    color: white;
}

.page-content {
    min-height: 900px;
}

.pageNotFoundBlock {
    font-size: -webkit-xxx-large;
    opacity: 0.3;
    margin-top: 10%;
    text-align: center;
}

.login-page {
    font-size: 200px;
    text-align: center;
    opacity: 0.8;
    background-color: #2196F3;
    padding-top: 150px;
    height: 200px;
}

.login-form {
    display: table;
    margin: auto;
}