.demo-layout-transparent {
    background-color: black;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
    color: white;
}

.header-user-name{
    text-align: right;
    padding-right: 10px;
}

.header-title{
    margin-left: 5px;
}

.header-logout-button{
    position: initial !important;
}

.header-label{
    font-size: 20px;
    margin-top: 75px;
    margin-left: 320px;
}

.page-content {
       
}

.pageNotFoundBlock {
    font-size: -webkit-xxx-large;
    opacity: 0.3;
    margin-top: 10%;
    text-align: center;
}

.filter-button{
    opacity: 0.6;
}

.login-page {
    font-size: 200px;
    text-align: center;
    opacity: 0.8;
    background-color: #2196F3;
    padding-top: 150px;
    height: 200px;
}

.login-form {
    display: table;
    margin: auto;
}

.app-input{
    width: 250px;
}

.mdl-textfield{
        width: 260px;
}

.mdl-textfield__input{
    width: 250px;
}

.main-box{
    overflow-x: visible;
}

.big-table{
    overflow-x: auto;
}

.full-size{
    width: 100%;
}

.pagination-box {
    width: 100%;
    height: 55px;
  
}

ul.pagination {
    margin: auto;
    padding-top: 10px;
    width:35%;
}

ul.pagination li {
    list-style-type: none;
    font-size: 1.2em;
    display: inline;
}

ul.pagination li a {
    display: block;
    float: left;
    margin-right: 3px;
    color: #777;
    font-size: 14px;
    line-height: 32px;
}

ul.pagination li span {
    float: left; 
    margin-right: 4px;
}

.ellipsis{
    padding: 8px 8px;
    line-height: 10px;
}

ul.pagination li a:hover {
    text-decoration: none;
    color: blue;
}

ul.pagination li.selected a {
    background-color: #2196F3;
    color: #fff;
}

ul.pagination li.disabled a {
    color: #ddd;
    cursor: default;
}

.mdl-card__supporting-text{
    width: 100%;
}

.date-array-field {
    white-space: pre-line;
}

.static-filter{
        position: fixed;
    z-index: 1000;
    background-color: white;
}