.demo-layout-transparent {
    background-color: black;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
    color: white;
}

.header-user-name{
    text-align: right;
    padding-right: 10px;
}

.header-title{
    margin-left: 5px;
}

.header-logout-button{
    position: initial !important;
}

.header-label{
    font-size: 20px;
    margin-top: 75px;
    margin-left: 320px;
}

.page-content {
       
}

.mdl-card__supporting-text{
    overflow: visible;
}
@media (max-height: 800px) {
  .table-scroll {
    height: 388px;
  }
}

@media (max-height: 2000px) {
  .table-scroll {
    height: 630px;
  }
}

.pageNotFoundBlock {
    font-size: -webkit-xxx-large;
    opacity: 0.3;
    margin-top: 10%;
    text-align: center;
}

.filter-button{
    opacity: 0.6;
}

.login-page {
    font-size: 200px;
    text-align: center;
    opacity: 0.8;
    background-color: #2196F3;
    padding-top: 150px;
    height: 200px;
}

.login-form {
    display: table;
    margin: auto;
}

.app-input{
    width: 250px;
}

.mdl-textfield{
        width: 260px;
}

.mdl-textfield__input{
    width: 250px;
}

.main-box{
    overflow-x: visible;
}

.big-table{
    overflow-x: auto;
}

.full-size{
    width: 100%;
}

.pagination-box {
    width: 100%;
    height: 55px;
    display: inline-block;
}

ul.pagination {
    margin: auto;
    padding-top: 10px;
    padding-left: 0px;
}

ul.pagination li {
    list-style-type: none;
    font-size: 1.2em;
    display: inline;
}

ul.pagination li a {
    display: block;
    float: left;
    margin-right: 3px;
    color: #777;
    font-size: 14px;
    line-height: 32px;
}

ul.pagination li span {
    float: left; 
    margin-right: 4px;
}

.ellipsis{
    padding: 8px 8px;
    line-height: 10px;
}

ul.pagination li a:hover {
    text-decoration: none;
    color: blue;
}

ul.pagination li.selected a {
    background-color: #2196F3;
    color: #fff;
}

ul.pagination li.disabled a {
    color: #ddd;
    cursor: default;
}

.mdl-card__supporting-text{
    width: 100%;
}

.date-array-field {
    white-space: pre-line;
}

.static-filter{
        position: fixed;
    z-index: 1000;
    background-color: white;
}

.DateInput{
    font-size: 14px !important;
    opacity: 0.8;
    
}
.DateRangePickerInput{
    border: none !important;
}

.DateRangePicker__picker{
    position: fixed !important;
    z-index: 999;
    margin-left: 263px;
    margin-top: 72px;
}

.DayPickerKeyboardShortcuts__show {
    display: none !important;
}

.DayPicker__week-header{
    top:50px !important;
}

.card-left-column{
 float: left;
}

.card-right-column{
 float: right;
 max-width: 300px;
}

.card-left-column p{
 margin-bottom: 5px;
}

.card-right-column p{
 margin-bottom: 5px;
}

.card-custom{
    width: 100%;
    margin-bottom: 5px;
}

.card-custom-half{
    width: 100%;
    margin-bottom: 5px;
    float: left;
    height: 300px;
    overflow-y: auto;
}

.card-title-custom{
 font-size: 14px;
}

.card-text-custom{
    padding: 0px 16px 0px 16px;
        overflow: auto;
}

.card-body{
    width: 98%;
    min-height: 150px;
}

.mdl-chip__text{
    text-overflow: ellipsis;
    overflow: hidden;
    max-width:150px;
}

.mdl-chip{
        display: block !important;
}

.ImageUploader button{
    background: 0 0;
    border: none;
    border-radius: 2px;
    color: #000;
    position: relative;
    height: 36px;
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
    width:125px;
    border-radius: 16px;
}

.ImageUploader button:hover{
 background-color: #DEDEDE;
}

.featured-course-item{
    max-width: 445px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: table-cell;
    overflow: hidden;
    white-space: pre-line;
}